#search-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0;
}

#temps {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-around;
}